{% if article.category == 'event' or article.category == 'events' %}
    <p>
        {% if article.prev_article_in_category %}
            Previous Event: 
                <a href="{{ SITEURL }}/{{ article.prev_article_in_category.url}}">
                    {{ article.prev_article_in_category.title }}
                </a>
    {% endif %}
    {% if article.next_article %}
    <span style="float:right;">
        Next Event: 
            <a href="{{ SITEURL }}/{{ article.next_article_in_category.url}}">
                {{ article.next_article_in_category.title }}
            </a>
    </span>
    {% endif %}
    </p>
{% endif %}
<p>
    {% if article.prev_article %}
        Previous Article: 
            <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
                {{ article.prev_article.title }}
            </a>
    {% endif %}
    {% if article.next_article %}
    <span style="float:right;">
        Next Article: 
            <a href="{{ SITEURL }}/{{ article.next_article.url}}">
                {{ article.next_article.title }}
            </a>
    </span>
    {% endif %}
</p>
